* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Malgun Gothic";
}

body {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    
}
.top{
    width: 100%;
    height: 150px;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    position: fixed;
    margin-top: -10.5%;
    padding-bottom: 0px;
    
   
}

.top ul li #logo{
    width: 250px; /* 정렬하려는 요소의 넓이를 반드시 지정 */
    display : block;
    margin-left: 44%;
    margin-top: -60px;
    

}


.top ul li #search{
    float: right;
    margin-top: -100px;
    margin-right: 200px;
    
}

.top ul li #MyPage{
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: -150px;
    float: right;
    margin-right: 100px;
}

.top ul li #cartMenu{
    float: right;
    width: 80px;
    height: 70px;
    margin-top: -140px;
    
}

.top ul #right{
    width: 100px; /* 정렬하려는 요소의 넓이를 반드시 지정 */
    float: right;
    margin-top: -10px;

}




.label{
    width: 100%;
    height: 47px;
    background-color: rgb(182, 34, 34);
    z-index: 10;
    position: fixed;
    top:+110px;
    
}
.label ul #left :hover > a {
    color:silver;
    margin: 0;
}
.label ul #left a{
    float: left;
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 0px;
}
.label ul #right a{
    float: right;
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 0px;
}

.Main-header {
    margin-top: 200px;
    margin-bottom: 500px;
    float: right;
    height: 100%;
    width: 93%;
    position: relative;
}
#Look{
    margin-right: 90px;
}
#p1{
    margin-right: 10px;
}
#p2{
    margin-right: 10px;
}
#p3{
    margin-right: 10px;
}
#p4{
    width: 250px;
    margin-right: 10px;
    
}
.sale #sale{
    width: 100%;
    margin-top: +155px;
}

.Main-header h1{
    text-align: center;
    display:block; 
    margin:auto;
    margin-bottom: 30px;
}
.product-list{
    text-align: center;
    display:block; 
    margin:auto;
    margin-bottom: 50px;
    
}
.product-list a {
    text-decoration: none;
    color:black;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino,serif;
}

.product-list .Outter h1{
    display : block;
    margin : auto;
    text-align: center;
}
.jm-font-price{
    margin-bottom: 200px;
}
.Pants-price{
    margin-bottom: 200px;
}
.Cap-price{
    margin-bottom: 200px;
}
.Bag-price{
    margin-bottom: 200px;
}
#wrap {
    min-height: 100vh;
    position: relative;
    width: 100%;
}

footer {
    width: 100%;
    height: -100px;
    bottom: 0px;
    text-align: center;
    border-top: 1px solid #c4c4c4;
    padding-top: 15px;
    color: #808080;
    font-size: 11px;
    margin-top: +200px;
  }
  footer a {
    display: inline-block;
    margin: 0 20px 10px 20px;
    color: #808080; font-size: 11px;
  }
  
  footer a:visited {
    color: #808080;
  }
  
  footer p {
    margin-top: 0; margin-bottom: 0;   
  }
  
  footer p span {
    display: inline-block;
    margin-left: 20px;
  }
  #loginButton {
    width: 120px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    position: relative;
    margin-left: -2px;

}

#joinButton {
    width: 120px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    position: relative;
    margin-left: 10px;
    margin-right: 5px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 0;
    
    padding: 0px;
    position: relative;
    
    margin: auto;
}

#all {
    margin-top: 200px;
    width: 400px;
    margin-left: 39%;
    margin-right: 0;
    background-color: white;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    position: relative;
    border-radius: 0;
  
}

#header1 ul li {
    float: left;
    height: 100%;
    line-height: 65px;
    text-align: center;
    background-color: black;
    position: relative;
    height: 75px;
    list-style: none;

}

#header1 ul li a {
    text-decoration: none;


}

#header {
    width: 100%;
    height: 95px;
    background-color: black;
    z-index: 10;
    position: fixed;
}

#idInput {
    height: 30px;
    width: 300px;
    border: none;
    background-color: aliceblue;
    border-radius: 5%;
}

#pwInput {
    height: 30px;
    width: 300px;
    border: none;
    background-color: aliceblue;
    border-radius: 5%;
}

#find li {

    margin-left: -40px;
    list-style: none;
    text-align: center;

}

#find li a {
    text-decoration: none;
    color: grey;


}

#find {
    font-size: 5px;
}

.loginImg {
    width: 320px;
    position: relative;
    margin-top: 20px;
}

 .dropdownmenu1 {
    display: none;
    position: fixed;
    z-index: 1;
    color: black;
    min-width:80px;
    height: 20px;
} 

 .dropdownmenu2 {
    display: none;
    position: fixed;
    z-index: 20;
    color: black;
   padding: 10px;
   min-width:80px;
   margin-top: 80%;
   height: 20px;
} 
 .dropdownmenu3 {
    display: none;
    position: fixed;
    z-index: 1;
    color: black;
    margin-top: 50px;
    padding: 10px;
    min-width:80px;
    height: 20px;
}
 .dropdownmenu4 {
    display: none;
    position: fixed;
    z-index: 1;
    color: black;
    padding: 10px;
    min-width:80px;
    height: 20px;
}
 .dropdownmenu5 {
    display: block;
    position: fixed;
    z-index: 1;
    color: black;
    padding: 10px;
    min-width:80px;
    margin-top: 1000px;;
    height: 20px;
}

 .headerMenu2:hover .dropdownmenu2 {
    display: block;
}

.label ul li .dropdownmenu2 a:hover{
    background-color: red;
}
.leftbanner {
    margin-left: -172%;
    margin-top: -145%;
    max-height: 130%;
    position: absolute;
}

.rightbanner {
    margin-left: 170%;
    margin-top: -150%;
    max-height: 130%;
    position: absolute;
}

.bottombanner {
    margin-left: -20%;
    margin-top: 50%;
    max-height: 20px;
    max-width: 20%;
    position: relative;
}